<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Inicio</h1>
<h2>el numero de personas es: {{num_personas}}</h2>

    <div><a href="nueva_persona">Añadir persona</a></div>

<div>
    <ul>
        {% for persona in personas %}
            <li>Persona {{persona.id}} {{persona.nombre}} {{persona.apellido}}, email:{{persona.email}}
                <a href="detalle_persona/{{persona.id}}">detalles</a>
            </li>
        {% endfor %}
    </ul>
</div>

</body>
</html>